.headerHeight{
    height: 100vh;
}
.pagePreinfo{
    background-color: nth($bg-colors, 6);
    }
.pageInfo{
    background-color: nth($bg-colors, 2);
    }
.adoptionsTitlepadding{
        padding-top: 200px;
    }
.adoptionsTransformation article div:hover{
        transform: scale(1.2,1.2);
        }
.adoptionsBackgroundimage{
    background-image: url("https://getwallpapers.com/wallpaper/full/d/f/e/1179575-cat-hd-wallpapers-1080p-1920x1080-hd.jpg");
    @extend %backgImage;
}
.animate__animated.animate__backOutDown{
        animation-delay: 1.5s;
        animation-duration: 3s;
    }
.colorText{
        @include textColor();
        text-decoration: none;
    }
.catchEyecolor{
    color: nth($font-colors, 6);
}
.otherColortext{
    color: nth($font-colors, 2);
    text-decoration: none;
    }
.catsCardcolor{
    background-color: nth($bg-colors, 3);
    border: 3px solid nth($bg-colors, 1);
}
.bgAd{
    background-image: url(https://t3.ftcdn.net/jpg/01/10/07/60/240_F_110076009_vp0xm9lHwZZomAJYtmg2JpuV8TfXadaL.jpg);
}
