.careBackgroundimage{
    background-image: url("https://getwallpapers.com/wallpaper/full/2/0/e/1179861-download-cat-hd-wallpapers-1080p-1920x1080.jpg");
    @extend %backgImage;
}
.animate__animated.animate__rotateInDownRight{
        animation-delay: 1s;
        animation-duration: 2s;
    }
.otherColortext{
        color: nth($font-colors, 2);
        text-decoration: none;
        }
.catchEyecolor{
        color: map-get($fontColors, color1);
    }
.cardColor{
        background-color: nth($bg-colors, 6);
}